.navbar-light {
  background-color: #E32DAF;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
  color: white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
    color: white;
}

.jumbotron {
  background-image: url("friends.jpg");
  background-size: cover;
}

#jumbo {
  color: white;
}

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: #E32DAF;
  font-size: 80px;
}

h2 {
  color: #E32DAF;
}

h3 {
  color: #E32DAF;
  font-size: 40px;
}

.btn-primary {
  background-color: #E32DAF;
  border: none;
}

.card-title {
  color: #E32DAF;
}

.carousel-inner img {
  margin: auto;
}

#profile{
  width: 300px;
  margin:auto;
}

.card-img-top {
    width: 100%;
}
